# Scope 1 info: 
scope1:
name=scope_pps
model=mso64b
address=128.141.162.141
ch1_label=PPS_GM
ch2_label=
ch3_label=PPS_BC
ch4_label=
ch1_vscale=10e-3
ch1_termination=50
ch1_bw=FULL
ch1_offset=850e-3
ch3_vscale=10e-3
ch3_termination=50
ch3_bw=FULL
ch3_offset=850e-3
h_scale=40e-12
trigger_mode=NORMAL
trigger_src=CH1
trigger_level=850e-3
trigger_slope=RISE
meas1_type=DELAY
meas1_src1=CH1
meas1_src2=CH3
meas1_riseh=1.6
meas1_risem=0.85
meas1_risel=0

# Grand Master WRS info
gm:
name=cptst6
address=ctdw-774-cptst6
password=
sfp_port=1
golden=false
reboot=false
ifdownup=false

# Boundary Clock (slave) WRS info
bc:
name=cptst5
address=ctdw-774-cptst5
password=
sfp_port=1
golden=false
reboot=false
ifdownup=false

# Test configuration:
config:
meas_number=3
meas_duration=20
